.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.logo {
  height: 64px;
  width: 64px;
  padding: 35px 0 0 10px;
  object-fit: fixed;
}
.body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}
.camera {
  height: 500px;
  width: 500px;
  padding: 0 90px;
  object-fit: cover;
  border-radius: 25%;
}
.form-input {
  border: 1px solid #eee;
  border-radius: 4px;
  width: 25%;
  height: 70px;
  padding: 0 20px;
  background-color: #282c34;
  color: white;
  font-size: large;
  transition: 0.25s ease;
}

.form-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-label {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 35%;
  color: #999;
  font-size: 25px;
  user-select: none;
  pointer-events: none;
  transition: 0.25s ease;
}
.form-input:focus + .form-label {
  top: 0;
  padding: 10px;
  display: inline-block;
  background-color: #282c34;
  color: white;
}
.form-field button {
  height: 70px;
  width: 100px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 20px;
  margin-left: 10px;
  font-size: 20px;
  background-color: #282c34;
  color: white;
  transition: 0.25s ease;
}
.form-field button:hover {
  background-color: white;
  color: #282c34;
}
.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
